<mat-card [draggable]=true (dragStart)="draggedCard($event)" id="list-{{ listIndex }}-card-{{ cardIndex }}"
    attr.listIndex=listIndex attr.cardIndex=cardIndex (dragover)="dropBoard($event)">
    <mat-card-header>
        <input (change)="headerValueChange($event)" [formControl]="cardHeader" matInput />
    </mat-card-header>
    <mat-card-content>
        <textarea name="cardBody" (change)="summaryValueChange($event)" [formControl]="cardSummary" matInput
            cols="10"></textarea>
    </mat-card-content>
</mat-card>