<!-- 
    Delete this sample code!
 -->
<div style="width: 100vw; height: 100vh; background-color: #90CAF9;">
    <div fxLayout="row" fxLayoutAlign="center center" style="width: 100vw; height: 100vh;">
        <mat-card>
            <div fxLayout="column" fxLayoutAlign="space-evenly start">

                <div class="mat-headline">Angular Starter Code</div>

                <div class="mat-body-1">
                    This boilerplate code includes these modules:
                </div>

                <mat-list>
                    <mat-list-item>
                        <a href="https://material.angular.io/">Material</a>
                    </mat-list-item>
                    <mat-list-item>
                        <a href="https://github.com/angular/flex-layout">FlexLayout</a>
                    </mat-list-item>
                    <mat-list-item>
                        AppRouting
                    </mat-list-item>
                    <mat-list-item>
                        HttpClient
                    </mat-list-item>
                    <mat-list-item>
                        ReactiveForms
                    </mat-list-item>
                    <mat-list-item>
                        BrowserAnimations
                    </mat-list-item>
                </mat-list>

                <br>

                <div class="mat-body-1">
                    Note: The /components directory inside the /app is where all the components go. <br>
                    Declare and export the components in components.module.ts. Import any required modules in it.<br> <br>
                    Stylesheet is set to SCSS, Font-family is Roboto and Material Theme is Indigo-Pink.
                </div>

                <br>

                <div class="mat-small">
                    Angular Version 10.0.5
                </div>
            </div>
        </mat-card>
    </div>
</div>
<!-- 
    Delete until here!
 -->

<!-- Router Outlet -->
<router-outlet></router-outlet>